<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>longevity</title>
  <!-- BOTSTRAP 4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="public/css/style.css">

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/95dd7c34dc.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class = "navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brad">
        <img src="/public/img/logo.png" alt="Longevity">
      </a>
    </div>
  </nav>

    <div class="container p-3">
      <div class="row">
        <div class="col-md-8">
          {{{body}}}
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
</body>
</html>
